<fieldset>
<legend>New Learning</legend>
<form id="new-learning" method="post" action="/learnings">

  <label for="Spellbook-select">Spellbook:</label>
  <select id="spellbook-select" name="spellbook_id">
    <% @spellbooks.each do |spellbook| %>
    <option value="<%=spellbook.id%>"> <%=spellbook.name%> </option>
    <% end %>
  </select>

  <label for="Spell-select">Spell:</label>
  <select id="spell-select" name="spell_id">
    <% @spells.each do |spell| %>
    <option value="<%=spell.id%>"> <%=spell.name%> </option>
    <% end %>
  </select>

  <input type="submit" value="Save Learning" />
</form>
</fieldset>
