<div class="super-parent">
  <div class="spell-parent about-body">
    <h1 class="title content">About the Project</h1>
    <p>Compendium was made as the first project of <a href="http://www.codeclan.com">CodeClan's Software Development Course</a>. It was made with the following rules:</p>
    <p>The project must be built using only:</p>
    <ul>
      <li>Sinatra RB</li>
      <li>PostGRES SQL</li>
      <li>HTML/ CSS</li>
      <li>Ruby</li>
    </ul>
    <p>It must NOT use:</p>
    <ul>
      <li>Any Object Relational Mapper (e.g. ActiveRecord)</li>
      <li>JavaScript.</li>
      <li>Authentication.</li>
    </ul>
    <h1 class="title content">Compendium</h1>
    <p>Compendium was made also as a free alternative to Spellbook managers for Dungeons and Dragons games. Mainly focused for Dungeons and Dragon 5th Edition, the way the app is designed allows its use with other several editions and games. You must be able to create new spells (name, school, level and description) which can be written on several spellbooks, look for an specific spell from the database or show all the spells on a specific book. You should be able to add and remove spells from different books as well. Books should contain a name and the list of spells contained on the book.</p>
    <p>You can look to the whole source code on his own <a href="https://github.com/DetectiveAzul/compendium">GitHub repo</a>. Feel free of pulling, cloning and editing the code for your own special needs.</p>
    <h1 class="title content">Credits</h1>
    <p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    <p>Information on spells, classes and races from DnD 5th Edition are Open License, for further legal information please <a href="https://5thsrd.org/license/">visit the legal information for the SRD</a>.
  </div>
</div>
