<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compendium</title>
    <!-- links -->
    <link rel="shortcut icon" href="/images/title_icon.png" />
    <link rel="stylesheet" type="text/css" href="/styles/fonts.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  </head>
  <body>
    <!-- header -->
    <header class="container">
      <div class="row">
        <img class="logo" src="/images/logo_icon.png" alt="Spellbook icon" />
        <h1>Compendium</h1>
        <nav>
          <a href="/"><p class="button home">Home</p></a>
          <a href="/characters"><p class="button characters">Characters</p></a>
          <a href="/"><p class="button spellbooks">Spellbooks</p></a>
          <a href="/spells"><p class="button spells">Spells</p></a>
          <a href="/"><p class="button about">About</p></a>
        </nav>
      </div>
    </header>
    <!-- body -->
    <%= yield %>

    <!-- footer -->
    <footer>
    </footer>
  </body>
</html>

<!-- credits

<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

-->
