<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compendium</title>
    <!-- links -->
    <link rel="shortcut icon" href="/images/title_icon.png" />
    <link rel="stylesheet" type="text/css" href="/styles/fonts.css">
    <link rel="stylesheet" type="text/css" href="/styles/header.css">
    <link rel="stylesheet" type="text/css" href="/styles/spell_index.css">

  </head>
  <!--body -->

  <body>
    <div class="header">
      <!-- logo and title -->
      <div class="title-and-logo">
        <img class="logo" src="/images/logo_icon.png" alt="Spellbook icon" />
        <h1 class="title">Compendium</h1>
      </div>
      <!-- buttons -->
      <div class= "menu">
        <div class="dropdown"><a class="dropbtn button home" href="/"><p>Home</p></a></div>

        <div class="dropdown">
          <div class="dropbtn button characters"><p>Characters</p></div>
          <div class="dropdown-content">
            <a class= "characters" href="/characters">My Characters</a>
            <a class= "characters" href="/characters/new">New Character</a>
          </div>
        </div>

        <div class="dropdown">
          <div class="dropbtn button spellbooks"><p>Spellbooks</p></div>
          <div class="dropdown-content">
            <a class= "spellbooks" href="/spellbooks">My Spellbooks</a>
            <a class= "spellbooks" href="/spellbooks/new">New Spellbook</a>
          </div>
        </div>

        <div class="dropdown">
          <div class="dropbtn button spells"><p>Spells</p></div>
          <div class="dropdown-content">
            <a class= "spells" href="/spells">Spell Compendium</a>
            <a class= "spells" href="/spells/new">New Spell</a>
          </div>
        </div>

        <div class="dropdown"><a class="dropbtn button about" href="/"><p>About</p></a></div>
      </div>
    </div>
    <!-- where the erb codes will be -->
    <div class="web-body">
      <%= yield %>
    </div>
    <!-- for the footer -->
    <footer>
    </footer>
  </body>
</html>

<!-- credits

<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

-->
