<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/title_icon.png" />
    <link rel="stylesheet" type="text/css" href="/styles/error.css">
    <link rel="stylesheet" type="text/css" href="/styles/fonts.css">
    <title>Compendium</title>
  </head>
  <body>
    <a href="/" class="whole-page">
      <h1>404</h1>
      <img src="/images/d20.gif" alt="20 faces dice" />
      <p>Your orientation check fumbled and you lost your way!</p>
    </div>
  </body>
</html>
