/* Parent class for tables */
.spell-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* Row with the header of the table */
.spell-legend {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* A row on the table */
.spell-row {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
}

.spell-row:hover {
  background-color: #ddd;
}

/* CSS for cells */

.spell-index p {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.spell-index .description {
  padding: 20px;
  justify-content: flex-start;
}

.spell-index .description p {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.spell-index .long-size {
  width: 75%;
}

.spell-index .small-size {
  min-width: 0px;
  width: 25%
}

.spell-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  height: 50px;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.spell-index .name {
  width: 150px;
  justify-content: flex-start;
}

.spell-item a {
  color: black;
  text-decoration: none;
}

/* Delete button on tables */
.delete {
  border: none;
  margin: 15px;
  color: black;
  font-size: 14px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
}

.delete:hover {
  background-color: #ddd;
}

.delete:focus {
  outline: none;
}


/* Individual CSS for special classes of cells on the row */
.level {
  width: 10%;
}

.description br {
  display: none;
}
