.spell-parent {
  margin-top: 20px;
  margin-right: 20px;
  width: 48%;
  min-width: 25%;
  height: 50%;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.spell-parent .spell-students {
  display: flex;
  flex-direction: column;
}

.spell-students p {
  margin-right: 10px;
}

.spell-students a {
  color: black;
}

.spell-parent .student-entry {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.spell-parent .title, .subtitle {
  font-family: Nodesto;
  margin: 0px;
  padding: 0px;
}

.spell-parent .description {
  padding: 15px 5px;
  border-top: thin solid rgb(253, 56, 0);
}

.content {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: thin solid rgb(253, 56, 0);
}
.spell-parent .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
