/* Spell-parent specific class containing tables */
.spell-parent .spell-students {
  display: flex;
  flex-direction: column;
}

.spell-students p {
  margin-right: 10px;
}

.spell-students a {
  color: black;
}

.spell-parent .student-entry {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
