<fieldset>
<legend>New Character</legend>
<form id="new-character" method="post" action="/characters">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />

  <label for="class-select">Class:</label>
  <select id="class-select" name="c_class">
    <% @classes.each do |c_class| %>
    <option value="<%=c_class%>"> <%=c_class%> </option>
    <% end %>
  </select>

  <label for="level">Level</label>
  <input id="level" type="number" name="level" />
  <label for="writing-skill">Writing Skill</label>
  <input id="writing-skill" type="number" name="writing_skill" />

  <input type="submit" value="Save Character" />
</form>
</fieldset>
