<fieldset>
<legend>New Spellbook</legend>
<form id="new-spellbook" method="post" action="/spellbooks">

  <label for="character-select">Owner:</label>
  <select id="character-select" name="character_id">
    <% @characters.each do |character| %>
    <option value="<%=character.id%>"> <%=character.name%> </option>
    <% end %>
  </select>
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />
  <label for="pages">Pages</label>
  <input id="pages" type="number" name="pages" />
  <input type="submit" value="Save Spellbook" />
</form>
</fieldset>
